#set($_admin = $session.getAttribute("CURRENT_ADMIN"))


<!DOCTYPE html>
<html lang="zh">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>爱牙云管理平台</title>
  <link rel="shortcut icon" type="image/x-icon" href="#springUrl('')/favicon.ico?v=$env.sysVersion" media="screen" />
  <link rel="stylesheet" type="text/css" href="#springUrl('')/static/plugin/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="#springUrl('')/static/plugin/bootstrap/css/bootstrap-theme.css" />
  <style>
    #navmenu .panel-heading a {
      display: block;
      text-decoration: none;
    }

    /* 必填项的星星图标 */
    .must-star {
      color: red;
      padding-right: 4px;
    }
  </style>

  <script type="text/javascript" src="#springUrl('')/static/plugin/jquery-2.1.3.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/plugin/jquery.form-3.46.0.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/plugin/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#springUrl('')/">爱牙云</a>
        <a class="navbar-brand" href="#springUrl('')/module/list">权限管理</a>
      </div>

      #if($_admin)
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <p class="navbar-text">$_admin.trueName</p>
            <li><a href="#springUrl('')/logout">注销</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      #end
    </div><!-- /.container-fluid -->
  </nav>

  <div style="min-height: 300px">
    <div class="col-md-2">
      <!-- 左侧菜单 -->
      <div class="panel-group" id="navmenu" role="tablist" aria-multiselectable="true">

        <div class="panel panel-info">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#navmenu" href="#api_module">接口模板</a>
            </h4>
          </div>
          <div id="api_module" class="panel-collapse collapse" role="tabpanel">
            <div class="list-group">
              <a class="list-group-item" href="#springUrl('')/admin/api_module/list">模板列表</a>
              <a class="list-group-item" href="#springUrl('')/admin/api_module/edit">新增模板</a>
            </div>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#navmenu" href="#api">接口</a>
            </h4>
          </div>
          <div id="api" class="panel-collapse collapse" role="tabpanel">
            <div class="list-group">
              <a class="list-group-item" href="#springUrl('')/admin/api/list">接口列表</a>
              <a class="list-group-item" href="#springUrl('')/admin/api/edit">新增接口</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-10">
      $screen_content
    </div>

  </div>

  <!-- 清除浮动 -->
  <div class="clearfix"></div>

  <div class="footer" style="margin-top: 80px;">
    <p class="text-center"><small>Copyright © 2015-2099 f2boy. All Rights Reserved.</small></p>
    <p class="text-center"><small>火星备7758-521号</small></p>
  </div>

  <script>
    $(document).ready(function(){
      // 把对应的左侧导航按钮设为选中状态
      var path = document.location.pathname;
      $("a.list-group-item").css("background-color", "");
      var currItem = $("a.list-group-item[href='" + path + "']");
      currItem.css("background-color", "#f5f5f5");
      var currColl = currItem.parent().parent();
      if (!currColl.hasClass("in")) {
        currColl.prev().find("a").click();
      }
    });
  </script>
</body>
</html>
