<style>
  .form-group{
    margin-bottom: 0;
  }
</style>

<div>
  <ol class="breadcrumb">
    <li>接口</li>
    <li>接口详情</li>
  </ol>

  <form id="detailForm" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">模块 :</label>
      <div class="col-sm-3">
        <p class="form-control-static">
          #set($moduleName = "--")
          #foreach ($ele in $modules)
            #if($ele.id == $!{api.moduleId})
              #set($moduleName = $ele.name)
            #end
          #end
          $moduleName
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">名称 :</label>
      <div class="col-sm-3">
        <p class="form-control-static">$!{api.name}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">URI :</label>
      <div class="col-sm-3">
        <p class="form-control-static">$!{api.uri}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">METHOD :</label>
      <div class="col-sm-3">
        <p class="form-control-static">$!{api.method}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">用途 :</label>
      <div class="col-sm-8">
        <p class="form-control-static">$!{api.function}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">请求参数 :</label>
      <div class="col-sm-10">
        <table class="table table-bordered" id="paramsTable">
          <tr>
            <th width="15%">key</th>
            <th width="15%">参数类型</th>
            <th width="10%">是否必需</th>
            <th>说明</th>
            <th width="8%">排序号</th>
          </tr>
          #foreach($ele in $api.params)
            #set($idx = $velocityCount - 1)
            <tr>
              <td>$!{ele.key}</td>
              <td>$!{ele.type}</td>
              <td class="text-center">
                #if($!{ele.required}) <b style="color: red;">是</b> #else <span class="text-muted">否</span> #end
              </td>
              <td>$!{ele.description}</td>
              <td>$!{ele.sortNo}</td>
            </tr>
          #end
        </table>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">返回数据 :</label>
      <div class="col-sm-10">
        <textarea class="form-control" readonly style="border: 0;resize: none;">$!{api.response}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">备注 :</label>
      <div class="col-sm-8">
        <p class="form-control-static">$!{api.memo}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">排序号 :</label>
      <div class="col-sm-1">
        <p class="form-control-static">$!{api.sortNo}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-3">
        <a class="btn btn-info" href="#springUrl('')/admin/api/edit?id=$api.id">&nbsp;修&nbsp;改&nbsp;</a>
      </div>
    </div>
  </form>
</div>


<script>
  $(document).ready(function(){
    var elem = $("textarea")[0];
    elem.style.height = elem.scrollHeight + 'px';
  });
</script>