<div style="width: 80%; margin: auto;">

  <div class="row">
    <div class="col-sm-6">
      <h4>牙科列表</h4>
    </div>
    <div class="col-sm-6">
      <p class="text-right">
        <a class="btn btn-info" href="#springUrl('')/hospital/add">添加</a>
      </p>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>牙科名称</th>
      <th>添加人</th>
      <th>添加时间</th>
    </tr>
    #foreach ($ele in $list)
      <tr>
        <th scope="row">$velocityCount</th>
        <td>$ele.hospTName</td>
        <td>$!{adminMap.get($ele.createrId).trueName}</td>
        <td>$!dateTool.format("yyyy-MM-dd HH:mm", $!{ele.createrTime})</td>
      </tr>
    <tr>
    #end
  </table>
</div>
