#set($layout = "layout/empty.vm")


<!DOCTYPE html>
<html lang="zh">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>爱牙云管理平台</title>
  <link rel="shortcut icon" type="image/x-icon" href="#springUrl('')/favicon.ico?v=$env.sysVersion" media="screen" />
  <link rel="stylesheet" type="text/css" href="#springUrl('')/static/plugin/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="#springUrl('')/static/plugin/bootstrap/css/bootstrap-theme.css" />
  <style>
    #navmenu .panel-heading a {
      display: block;
      text-decoration: none;
    }

    .form-group{
      margin-bottom: 0;
    }
  </style>

  <script type="text/javascript" src="#springUrl('')/static/plugin/jquery-2.1.3.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/plugin/jquery.form-3.46.0.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/plugin/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<nav id="navbar" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#springUrl('')/">文档系统</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div style="min-height: 300px;">
  <div class="col-md-2">
    <!-- 左侧菜单 -->
    <div class="panel-group" id="navmenu" role="tablist" style="position: fixed;width: 180px;">

      #foreach($module in $modules)
        <div class="panel panel-info">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#navmenu" href="#menuCollapse$velocityCount">${module.name}</a>
            </h4>
          </div>
          <div id="menuCollapse$velocityCount" class="panel-collapse collapse" role="tabpanel">
            <div class="list-group">
              #foreach ($api in ${moduleApiMap.get($module.id)})
                <a class="list-group-item" href="#springUrl('')/#${api.uri}">${api.name}</a>
              #end
            </div>
          </div>
        </div>
      #end

      ## 没指定模板的接口
      <div class="panel panel-info">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#navmenu" href="#menuCollapse-noModule">**未指定模板</a>
          </h4>
        </div>
        <div id="menuCollapse-noModule" class="panel-collapse collapse" role="tabpanel">
          <div class="list-group">
            #foreach ($api in $noModuleApis)
              <a class="list-group-item" href="#springUrl('')/#${api.uri}">${api.name}</a>
            #end
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-10">

    #foreach($module in $modules)
      #set($currModule = $velocityCount)
      #foreach ($api in ${moduleApiMap.get($module.id)})
        <h2 id="${api.uri}" class="page-header" #if($currModule==1 && $velocityCount==1) style="margin-top: 0;" #end>
          <a href="#${api.uri}">${api.name}</a><small>$!{api.function}</small>
        </h2>

        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">名称 :</label>
            <div class="col-sm-3">
              <p class="form-control-static">$!{api.name}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">URI :</label>
            <div class="col-sm-3">
              <p class="form-control-static">$!{api.uri}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">METHOD :</label>
            <div class="col-sm-3">
              <p class="form-control-static">$!{api.method}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">请求参数 :</label>
            <div class="col-sm-10">
              <table class="table table-bordered">
                <tr>
                  <th width="15%">key</th>
                  <th width="15%">参数类型</th>
                  <th width="10%">是否必需</th>
                  <th>说明</th>
                </tr>
                #foreach($ele in $api.params)
                  #set($idx = $velocityCount - 1)
                  <tr>
                    <td>$!{ele.key}</td>
                    <td>$!{ele.type}</td>
                    <td class="text-center">
                      #if($!{ele.required}) <b style="color: red;">是</b> #else <span class="text-muted">否</span> #end
                    </td>
                    <td>$!{ele.description}</td>
                  </tr>
                #end
              </table>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">返回数据 :</label>
            <div class="col-sm-10">
              <textarea class="form-control" readonly style="border: 0;resize: none;">$!{api.response}</textarea>
            </div>
          </div>
          #if(${api.memo} && $api.memo != "")
            <div class="form-group">
              <label class="col-sm-2 control-label">备注 :</label>
              <div class="col-sm-8">
                <p class="form-control-static">$!{api.memo}</p>
              </div>
            </div>
          #end
        </form>
      #end
    #end

    #foreach ($api in $noModuleApis)
      <h2 id="${api.uri}" class="page-header">
        <a href="#${api.uri}">${api.name}</a><small>$!{api.function}</small>
      </h2>

      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">名称 :</label>
          <div class="col-sm-3">
            <p class="form-control-static">$!{api.name}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">URI :</label>
          <div class="col-sm-3">
            <p class="form-control-static">$!{api.uri}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">METHOD :</label>
          <div class="col-sm-3">
            <p class="form-control-static">$!{api.method}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">请求参数 :</label>
          <div class="col-sm-10">
            <table class="table table-bordered">
              <tr>
                <th width="15%">key</th>
                <th width="15%">参数类型</th>
                <th width="10%">是否必需</th>
                <th>说明</th>
              </tr>
              #foreach($ele in $api.params)
                #set($idx = $velocityCount - 1)
                <tr>
                  <td>$!{ele.key}</td>
                  <td>$!{ele.type}</td>
                  <td class="text-center">
                    #if($!{ele.required}) <b style="color: red;">是</b> #else <span class="text-muted">否</span> #end
                  </td>
                  <td>$!{ele.description}</td>
                </tr>
              #end
            </table>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">返回数据 :</label>
          <div class="col-sm-10">
            <textarea class="form-control" readonly style="border: 0;resize: none;">$!{api.response}</textarea>
          </div>
        </div>
        #if(${api.memo} && $api.memo != "")
          <div class="form-group">
            <label class="col-sm-2 control-label">备注 :</label>
            <div class="col-sm-8">
              <p class="form-control-static">$!{api.memo}</p>
            </div>
          </div>
        #end
      </form>
    #end

  </div>
</div>

<!-- 清除浮动 -->
<div class="clearfix"></div>

<div class="footer" style="margin-top: 100px;padding-top: 40px;padding-bottom: 40px;border-top: 1px solid #e5e5e5;">
  <p class="text-center"><small>Copyright © 2015-2099 f2boy. All Rights Reserved.</small></p>
  <p class="text-center"><small>火星备7758-521号</small></p>
</div>

<script>
  $(document).ready(function(){

    // 把对应的左侧导航按钮设为选中状态
    var path = document.location.pathname;
    $("a.list-group-item").css("background-color", "");
    var currItem = $("a.list-group-item[href='" + path + "']");
    currItem.css("background-color", "#f5f5f5");
    var currColl = currItem.parent().parent();
    if (!currColl.hasClass("in")) {
      currColl.prev().find("a").click();
    }

    // 保持左侧菜单距离顶部20px
    $(window).bind('scroll', function() {
      var navHeight = $("#navbar")[0].offsetHeight;
      var scrollTop = $(this).scrollTop();
      if (scrollTop >= navHeight) {
        $("#navmenu").css("top", "20px");
      } else {
        $("#navmenu").css("top", navHeight - scrollTop + 20 + "px");
      }
    });

    // testarea区域全显示
    $("textarea").each(function(){
      this.style.height = this.scrollHeight + 'px';
    });

  });
</script>
</body>
</html>
