<div>
  <ol class="breadcrumb">
    <li>接口模块</li>
    <li>添加\编辑接口模块</li>
  </ol>

  <form id="inputForm" class="form-horizontal" action="#springUrl('')/admin/api_module/save" method="post">
    <input type="hidden" name="id" value="$!{module.id}" />
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">名称 :</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="name" name="name" value="$!{module.name}" />
      </div>
    </div>
    <div class="form-group">
      <label for="sortNo" class="col-sm-2 control-label">排序号 :</label>
      <div class="col-sm-1">
        <input type="text" class="form-control" id="sortNo" name="sortNo" value="$!{module.sortNo}" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-3">
        <button id="submit_btn" type="button" class="btn btn-info">&nbsp;提&nbsp;交&nbsp;</button>
        <a class="btn btn-default" href="#springUrl('')/admin/api_module/list">&nbsp;取&nbsp;消&nbsp;</a>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">

  $(document).ready(function () {

    $('#name').focus();

    $('#submit_btn').click(function () {
      doSubmit();
    });

    $(document).keydown(function (e) {
      if (e.keyCode == 13) {
        doSubmit();
      }
    });

    function doSubmit() {
      $('#inputForm').ajaxSubmit({
        beforeSubmit: checkForm,
        dataType: "json",
        success: function (msg) {
          if (msg.code == 1) {
            location.href = "#springUrl('')/admin/api_module/list";
          } else if (msg.code == 0) {
            alert(msg.info);
          }
        }
      });
    }

    var checkForm = function () {
      return true;
    };

  });

</script>
