<div>
  <ol class="breadcrumb">
    <li>接口模版</li>
    <li>模版列表</li>
  </ol>

  <div class="row">
    <div class="col-sm-offset-6 col-sm-6">
      <p class="text-right">
        <a class="btn btn-info" href="#springUrl('')/admin/api_module/edit">添加</a>
      </p>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th>模块名称</th>
      <th>排序号</th>
      <th>操作</th>
    </tr>
    #foreach ($ele in $list)
      <tr>
        <td>$ele.name</td>
        <td>$ele.sortNo</td>
        <td>
          <a href="#springUrl('')/admin/api_module/edit?id=${ele.id}">修改</a>
          <a href="javascript:void(0)" onclick="doDelete(${ele.id}, '${ele.name}')">删除</a>
        </td>
      </tr>
    #end
  </table>
</div>


<script>
  function doDelete(id, name) {
    if (confirm("确定要删除[" + name + "]吗？")) {
      $.ajax({
        url: "#springUrl('')/admin/api_module/delete?id=" + id,
        type: 'post',
        dataType: "json",
        success: function (msg) {
          if (msg.code == 1) {
            location.reload();
          } else if (msg.code == 0) {
            alert(msg.info);
          }
        }
      });
    }
  }
</script>